{% include "header/header.html" ignore missing %}
{% block content %}


    <style>
        label {
            font-family: 'PingFang-SC-Regular', 'PingFang SC';
            font-weight: 400;
            font-style: normal;
        }

    </style>

    <div class="page-header">
        <small style="font-size:16px;color: #0080CC;font-style: normal;font-family: 'PingFang-SC-Regular', 'PingFang SC';">修改密码</small>
    </div>

    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal" role="form" method="POST">

                <div class="form-group">
                    <label for="inputPassword1" class="col-sm-2 control-label">原密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword1" name="original_password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword2" class="col-sm-2 control-label">新密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword2" name="new_password">
                        {% for err in form.new_password.errors %}　　　　　　　　　　　
                            <div class="col-sm-12">
                                <font style="color: red">{{ err }}</font>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">确认密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" name="confirm_password">
                        {% for err in form.confirm_password.errors %}　　　　　　　　　　
                            <div class="col-md-12">
                                <font style="color: red">{{ err }}</font>
                            </div>
                        {% endfor %}

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">设置</button>
                        {{ form.csrf_token }}　　
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}