{% extends "company/base.html" %}

{% for msg in get_flashed_messages(category_filter=['err']) %}　　　　<!--flash信息-->
<p style="color: red">{{ msg }}</p>
{% endfor %}
{% for msg in get_flashed_messages(category_filter=['ok']) %}
<p style="color: green">{{ msg }}</p>
{% endfor %}


{% block button %}
<a href="{{ url_for('company.companys')}}">
    <button type="button" class="btn btn-dark" id="button-nav">首页</button>
</a>

<form role="form" method="POST">
    <!--<form method="POST" action="{{ url_for('auth.edit_password')}}">-->

    <div class="form-group has-feedback">

        <!--常规情况下，这里应该为一个input框，用来定义用户输入，由于在forms里已经定义，这里直接调用就行-->
        <span class="glyphicon glyphicon-envelope form-control-feedback">&nbsp;原密码:</span>
        {{ form.original_password }}　
        {% for err in form.original_password.errors %}　　　　　　　　<!--错误信息-->
        <div class="col-md-12">
            <span style="color: red">{{ err }}</span>　　<!--显示错误信息-->
        </div>
        {% endfor %}
    </div>

    <div class="form-group has-feedback">
        <span class="glyphicon glyphicon-envelope form-control-feedback">&nbsp;新密码:</span>
        {{form.new_password }}　　　　　　　　　　　　　　　　<!--同上面的用户输入-->
        {% for err in form.new_password.errors %}　　　　　　　　　　　　<!--pwd输入错误的提示信息-->
        <div class="col-md-12">
            <font style="color: red">{{ err }}</font>
        </div>
        {% endfor %}
    </div>

    <div class="form-group has-feedback">
        <span class="glyphicon glyphicon-envelope form-control-feedback">&nbsp;确认密码:</span>
        {{ form.confirm_password }}　　　　　　　　　　　　　　　　<!--同上面的用户输入-->
        {% for err in form.confirm_password.errors %}　　　　　　　　　　　　<!--pwd输入错误的提示信息-->
        <div class="col-md-12">
            <font style="color: red">{{ err }}</font>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-xs-8">
        </div>
        <div class="col-xs-4">
            {{ form.submit }}　　　　　　　　　　　　<!--提交按钮-->
            {{ form.csrf_token }}　　　　　　　　　　<!--csrftoken必须要写，同时还要设置 app的secret_key-->
        </div>
    </div>


</form>
{% endblock %}

